body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1180px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}
.sectione__name {
  display: flex;
  background-color: #4a5262;
}
.sectione__inner {
  display: flex;
  flex-wrap: wrap;
}
.name__inf {
  width: 50%;
  padding: 50px 130px 50px 0;
}
.name__title {
  padding: 0 0 50px 0;
  font-size: 60px;
  color: #fff;
}
.name__text {
  font-size: 20px;
  color: #fff;
}
.name__photo {
  width: 50%;
  padding: 50px 50px 50px 115px;
}

.sectione__about {
  display: flex;
  background-color: #fff;
}
.about__inner {
  display: flex;
  flex-wrap: wrap;
}
.about__inf {
  width: 50%;
  padding: 50px 0 90px 0;
}
.about__title {
  font-size: 30px;
  color: #4a5260;
  padding-bottom: 40px;
}
.about__text {
  font-size: 16px;
  color: #363636;
}
.about__photo {
  width: 50%;
  padding: 50px 0 50px 150px;
}
.sectione__dignity {
  display: flex;
  background-color: #f5f5f5;
}
.dignity__inner {
  display: flex;
  width: 100%;
}
.dignity__col {
  width: 100%;
  max-width: 590px;
}
.dignity__title {
  font-size: 30px;
  color: #4a5260;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 50px;
}

.dignity__item {
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  padding-right: 30px;
}
.dignity__icon {
  padding: 0 10px 0 0;
}
.dignity__text {
  text-align: center;
  font-size: 16px;
  color: #363636;
}

.scrin__inner {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 35px;
}
.scrin__title {
  font-size: 30px;
  color: #4a5260;
  text-align: center;

  padding-bottom: 35px;
}
.scrin__col {
  display: flex;
  flex-wrap: wrap;
}
.scrin__item {
  width: 50%;
  display: flex;
  padding: 15px 15px;
}
.scrin__item-text {
  padding-left: 15px;
}
.scrin__suptitle {
  font-size: 24px;
  color: #4a5260;
  padding-bottom: 20px;
}
.scrin__text {
  font-size: 16px;
  color: #363636;
  padding-bottom: 35px;
}

.sectione__reviews {
  display: flex;
  background-color: #f5f5f5;
}

.reviews__inner {
  padding: 50px 0;
}
.reviews__title {
  text-align: center;
  font-size: 30px;
  color: #4a5260;
  padding-bottom: 30px;
}
.reviews__col-max {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.reviews__col {
  width: 50%;
  max-width: 590px;
  display: flex;
}
.reviews__mayn-text {
  width: 100%;
  margin: 0 20px 20px 30px;
  background-color: #eaeaea;
}
.reviews__text {
  padding: 15px 20px 5px 15px;
  font-size: 14px;
  color: #363636;
  font-weight: 500;
}
.reviews__name {
  font-size: 14px;
  color: #979797;
  padding: 15px 20px 2px 15px;
}

.buy__may-title {
  font-size: 30px;
  color: #4a5260;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.buy__inner {
  display: flex;
  justify-content: space-between;
}
.package {
  background-color: #4a5262;
  padding-bottom: 20px;
}

.buy__title {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  padding: 16px 100px;
}
.buy__price {
  text-align: center;
  font-size: 40px;
  color: #4a5260;

  margin: 0px 3px;
  background-color: #fff;
}
.buy__inf {
  font-size: 14px;
  color: #fff;
  padding: 25px 40px 10px 20px;
}
.buy__button {
  text-align: center;
  display: flex;
  justify-content: center;
}
.buy__btn {
  text-decoration: none;
  padding: 15px 100px;
  font-size: 18px;
  color: #4a5260;
  background-color: #fff;
  border-radius: 3%;
}

.sectione__contacts {
  display: flex;
  background-color: #495261;
  margin-top: 50px;
  padding-bottom: 50px;
}
.contacts__inner {
  display: flex;
}
.contacts__title {
  font-size: 30px;
  color: #fff;
  margin: 0px auto;
  padding: 50px 0 30px 0;
  text-align: center;
}
.contacts__input {
  max-width: 500px;
  width: 100%;
  padding: 0 40px 20px 50px;
}
.input__name {
  padding: 8px 150px;
  margin-bottom: 20px;
}
.input__email {
  padding: 8px 150px;
  margin-bottom: 20px;
}
.input__message {
  padding: 10px 290px 150px 8px;
  margin-bottom: 40px;
}
.contacts__btn {
  text-decoration: none;
  font-size: 16px;
  color: #495261;
  text-transform: uppercase;
  padding: 15px 50px;

  background-color: #fff;
  border-radius: 5%;
}
.contacts__item {
  padding: 0 0 30px 45px;
}
.contacts__icon {
  display: flex;
  padding-bottom: 10px;
}
.contacts__icon-n {
  color: #fff;
  font-size: 25px;
  padding: 0 10px;
  text-decoration: none;
}
.contacts__icon-text {
  font-size: 14px;
  color: #fff;
}
.contacts__icon-k {
  font-size: 16px;
  color: #fff;
  padding: 0 10px 30px 10px;
}
.fooret__text {
  font-size: 14px;
  color: #495261;
  text-align: center;
  padding: 7px 0;
}
